html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  /* flex-direction: column; */
  font-family: 'Manrope', sans-serif;
  background-image: url("/assets/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#portfolio {
  display: flex;
  gap: 1px;
  justify-content: center;
}

#portfolio span {
  font-size: 100px;
  font-weight: normal;
  transition: font-weight 0.3s, font-family 0.3s;
}

#portfolio span:hover {
  font-weight: bold;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}

.head {
  position: absolute;
  top: 0;
  padding: 10px;
  line-height: 0.7;
  font-size: xx-large;
  font-family: 'Playfair Display', serif;
}

sup {
  font-size: small;
}

.footer {
  position: absolute;
  bottom: 5px;
}
