html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  /* flex-direction: column; */
  font-family: 'Manrope', sans-serif;
  /* background-image: url("/assets/bg2.jpg"); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#portfolio {
  display: flex;
  gap: 1px;
  justify-content: center;
}

@keyframes sparkle {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

#portfolio span {
  font-size: 100px;
  font-weight: normal;
  transition: font-weight 0.3s, font-family 0.3s;
  position: relative;
}


#portfolio span:hover {
  font-weight: bold;
  font-style: italic;
  font-family: 'Playfair Display', serif;
  color: #000000; /* Neon pink */
  /* text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff0099, 0 0 30px #ff00ff; */
}

/* #portfolio span:hover::after {
  content: '✨';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  animation: sparkle 1s infinite;
  font-size: 24px;
  color: gold;
} (IMPLEMENTATION'S KINDA EH BUT COULD BE USED IN A DIFF WAY)*/  

.head {
  position: absolute;
  top: 0;
  padding: 10px;
  line-height: 0.7;
  font-size: xx-large;
  font-family: 'Playfair Display', serif;
}

sup {
  font-size: small;
}

.file-icon{
  width:80px;
  height: auto;
  margin-top: 20px;
}

.footer {
  position: absolute;
  bottom: 5px;
}


/* Initially hide the text */
.enter-text {
  display: none;
  font-size: 24px;
  font-weight: bold;
  color: white; /* You can adjust the color */
}

/* When the image is hovered, hide the image and show the text */
.menu:hover .file-icon {
  display: none;
}

.menu:hover .enter-text {
  display: inline-block;
}
