body {
  background-image: url("bg2.jpg");
  background-size: center;   
  background-position: center;  
  height: 100vh;  
  margin: 0;
}

.port{
  font-style: italic;
}

.head{
  font-size: xx-large;
  justify-items: center;
}
